{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_modify %}

{% block extrahead %}{{ block.super }}
<script src="{% url 'admin:jsi18n' %}"></script>
{{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" />
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/userprofile_form.css' %}">

{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-form{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; {% if has_view_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
&rsaquo; {% if add %}{% blocktranslate with name=opts.verbose_name %}Add {{ name }}{% endblocktranslate %}{% else %}{{ original|truncatewords:"18" }}{% endif %}
</div>
{% endblock %}
{% endif %}

{% block content %}<div id="content-main">
{% block object-tools %}
{% if change %}{% if not is_popup %}
  <ul class="object-tools">
    {% block object-tools-items %}
      {% change_form_object_tools %}
    {% endblock %}
  </ul>
{% endif %}{% endif %}
{% endblock %}
<form {% if has_file_field %}enctype="multipart/form-data" {% endif %}{% if form_url %}action="{{ form_url }}" {% endif %}method="post" id="{{ opts.model_name }}_form" novalidate>{% csrf_token %}{% block form_top %}{% endblock %}
<div>
{% if is_popup %}<input type="hidden" name="{{ is_popup_var }}" value="1">{% endif %}
{% if to_field %}<input type="hidden" name="{{ to_field_var }}" value="{{ to_field }}">{% endif %}
{% if save_on_top %}{% block submit_buttons_top %}{% submit_row %}{% endblock %}{% endif %}

{% block field_sets %}
<form action="/main/submit_user/">
  <p class="error alert alert-danger" style="display: none;"></p>
  <div class="group">
    <div class="group-header">
      <h2>Пользовательские данные</h2>
    </div>
    <div class="form-group">
      <label for="username">Имя пользователя:</label>
      <input type="text" name="username" id="username" maxlength="255" class="form-control" required data-user-id="{{ object_id }}"> 
    </div>
    <div class="form-group">
      <label for="first_name">Имя:</label>
      <input type="text" id="first_name" name="first_name" maxlength="255" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="last_name">Фамилия:</label>
      <input type="text" id="last_name" name="last_name" maxlength="255" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="patronymic">Отчество:</label>
      <input type="text" id="patronymic" name="patronymic" maxlength="255" class="form-control" required>
    </div>
    <div class="form"></div>
  </div>
  <div class="group">
    <div class="group-header">
      <h2>Дополнительные данные</h2>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" name="email" id="email" maxlength="255" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="phone_number">Телефон:</label>
      <input type="tel" name="phone_number" id="phone_number" maxlength="255" placeholder="+998974162910" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="district">Район:</label>
      <select name="district" id="district" multiple class="form-control select2-container" aria-describedby="districtHelp" required>
      </select>
      <small id="districtHelp" class="form-text text-muted">
        Можно выбрать максимум 5 районов
      </small>
    </div>
    <div class="form-group">
      <label for="group">Группа:</label>
      <select name="group" id="group" class="form-control" required>
        <option value="0">Диспетчеры</option>
        <option value="1">Администраторы</option>
      </select>
    </div>
    <div class="form-check">
      <input type="checkbox" name="is_active" id="active" class="form-check-input">
      <label for="active" class="form-check-label">Активен:</label>
    </div>
    <div class="buttons" style="margin-top: 30px;">
      <button class="btn" type="button" onclick="submitForm()" style="background-color:#00ef7d;color:white;">Сохранить</button>
    </div>
    <p class="alert alert-danger warn-error" style="display: none;">Ошибка! Информация об ошибке выше</p>
  </div>
</form>
{% endblock %}

{% block after_field_sets %}{% endblock %}

{% block inline_field_sets %}
{% for inline_admin_formset in inline_admin_formsets %}
    {% include inline_admin_formset.opts.template %}
{% endfor %}
{% endblock %}

{% block after_related_objects %}{% endblock %}

</div>
</form></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<script>
  
  $(function()
  {
    $("#district").select2(
      {
        maximumSelectionLength: 5,
      }
    );
  });

  const selectInput = document.querySelector("#district");
  const submitButton = document.querySelector(".submit-button");
  const usernameField = document.querySelector("#username");
  const firstNameField = document.querySelector("#first_name");
  const lastNameField = document.querySelector("#last_name");
  const patronymicField = document.querySelector("#patronymic");
  const phoneNumberField = document.querySelector("#phone_number");
  const groupField = document.querySelector('#group');
  const activeField = document.querySelector('#active');
  const emailField = document.querySelector('#email');
  const error = document.querySelector(".error");
  const buttons = document.querySelector(".buttons");
  const warnError = document.querySelector(".warn-error");
  
  let object_id = usernameField.getAttribute("data-user-id");
  let csrftoken = $('[name="csrfmiddlewaretoken"]').val();

  let path = "/main/get_districts/";
  fetch(path, {
      headers:{
          'Accept': 'application/json',
          'X-CSRFToken': csrftoken //Necessary to work with request.is_ajax()
      },
  })
  .then(response => {
      return response.json() //Convert response to JSON
  })
  .then(data => {
      for(let i = 0; i < data.length; i++) {
        let optionData = {
          text: data[i][1],
          id: data[i][0]
        }
        let newOption = new Option(optionData.text, optionData.id, false, false);
        $('#district').append(newOption).trigger('change');
      }
  })
  .catch(error => {
    console.log(error)
  })

  if (window.location.href.includes("change")) {
    get_data();
    usernameField.value = window.localStorage.getItem("username");
    firstNameField.value = window.localStorage.getItem("first_name");
    lastNameField.value = window.localStorage.getItem("last_name");
    patronymicField.value = window.localStorage.getItem("patronymic");
    phoneNumberField.value = window.localStorage.getItem("phone_number");
    emailField.value = window.localStorage.getItem("email");
    activeField.checked = window.localStorage.getItem("active");
    groupField.selectedIndex = parseInt(window.localStorage.getItem('group')) - 1;

    let deleteButton = document.createElement("button");
    deleteButton.classList.add("btn");
    deleteButton.classList.add("btn-danger");
    deleteButton.textContent = "Удалить";
    deleteButton.type = "button";
    deleteButton.onclick = function() {
      let deletePath = "/main/" + object_id + "/delete_user";

      fetch(deletePath, {
        headers: {
          'Content-Type': 'application/json',
          'X-CSRFToken': csrftoken
        },
        method: 'DELETE',
      })
      .then(response => response.json())
      .then(data => {
        let status = data["status"];
        let message = data["message"];

        if (status == "SUCCESS") {
          window.localStorage.removeItem("flash_message");
          window.localStorage.setItem("flash_message", message);
          window.location.replace("/auth/user");
        } else {
          console.log(message);
        }
      })
    }

    buttons.appendChild(deleteButton);

  } else if (window.location.href.includes("add")) {
  }

  function submitForm() {
    let submitPath = "";
    if (window.location.href.includes("change")) {
      submitPath = "/main/" + object_id + "/change_user/";
    }
    else if (window.location.href.includes("add")) {
      submitPath = "/main/submit_user/";
    }
    let selectedValues = Array.from(selectInput.selectedOptions).map(option => option.value);

    if (usernameField.value.length == 0 || firstNameField.value.length == 0 || lastNameField.value.length == 0 || 
        patronymicField.value.length == 0 || phoneNumberField.value.length == 0 || (groupField.value == '2' && selectedValues.length == 0) || 
        groupField.value.length == 0 || emailField.value.length == 0) {
      error.style.display = "block";
      warnError.style.display = "block";
      error.textContent = "Заполните все поля";
    } else {
      warnError.style.display = "none";
      error.textContent = "";
      error.style.display = "none";
      let data = {
        "username": usernameField.value.trim(),
        "first_name": firstNameField.value.trim(),
        "last_name": lastNameField.value.trim(),
        "patronymic": patronymicField.value.trim(),
        "email": emailField.value.trim(),
        "phone_number": phoneNumberField.value.trim(),
        "districts": selectedValues,
        "group": groupField.value,
        "active": activeField.checked
      }

      fetch(submitPath, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRFToken': csrftoken
        },
        body: JSON.stringify(data),
      })
      .then(response => response.json())
      .then(data => {
        let status = data["status"];
        let message = data["message"];

        if (status == "SUCCESS") {
          window.location.replace("/auth/user");
          window.localStorage.setItem("flash_message", message);
        } else {
          warnError.style.display = "block";
          error.style.display = "block";
          error.textContent = message;
        }
      })
    }
  }

  function get_data() {
    const allDataPath = "/main/" + object_id +"/get_all_data_user/";

    fetch(allDataPath, {
      headers:{
            'Accept': 'application/json',
            'X-CSRFToken': csrftoken //Necessary to work with request.is_ajax()
        },
    })
    .then(response => {
        return response.json(); //Convert response to JSON
    })
    .then(data => {
      $("#district").val(data['districts']['districts']).trigger('change')
      window.localStorage.clear();
      window.localStorage.setItem("username", data["username"]);
      window.localStorage.setItem("first_name", data["first_name"]);
      window.localStorage.setItem("last_name", data["last_name"]);
      window.localStorage.setItem("patronymic", data["patronymic"]);
      window.localStorage.setItem("phone_number", data["phone_number"]);
      window.localStorage.setItem("districts", data["districts"]['districts']);
      window.localStorage.setItem("group", data["group"]);
      window.localStorage.setItem("active", data["active"]);
      window.localStorage.setItem("email", data["email"]);
      return data;
    })
    .catch(error => {
      console.log(error);
    })
  }
</script>
{% endblock %}
